body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}
canvas {
    border: 1px solid black;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
	color: #fff;
}
.canvas-container {
    width: 800px;
    height: 600px;
    overflow: auto;
  }  
.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: green;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.level-1 {
    top: 20px;
}
.level-2 {
    top: 50px;
}
.level-3 {
    top: 80px;
}
.line {
    position: absolute;
    background-color: #000;
    transform-origin: top left;
}
.node {
	color: white;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: lime;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.left-node {
    left: calc(50% - 150px);
}
.right-node {
    left: calc(50% + 100px);
}
#input-element,#delete-element,reset-element {
    width: 70%;
    height: 20px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#insert-button, #delete-button, reset-button {
    width: 10%;
    height: 30px;
    padding: 5px;
    font-size: 18px;
    background-color: white;
    color: #aaa;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#reset-button:hover {
    background-color: #ccc;
}
#tree-visualization {
    width: 100%;
    height: 100%; 
}
